{{> encabezado }} {{> navbar }}
<section class="container top">
    <div class="row">
        <div class="col-4">
            <h2>Angular 5</h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eum, doloribus nihil sed, culpa itaque officiis laboriosam repudiandae reiciendis nisi aliquam ipsum tempore ducimus voluptate, impedit magnam odio ipsam neque dolorem.</p>
        </div>
        <div class="col-8">
            <img src="assets/imgs/2061.logo_3309A602.png" class="img-thumbnail" alt="">
        </div>
    </div>
</section>
{{> footer }} {{> scripts }}